/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Comme:wght@100..900&family=Hind+Guntur:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Condensed", sans-serif; */
    font-family: "Comme", sans-serif;
}

.navSection {
    height: 80px;
    display: flex;
    justify-content: space-between; /* Spread items evenly */
    align-items: center;
    background-color: #6ec6c4;
    padding: 0 30px;
    color: white;
}

/* LEFT SECTION */
.leftNav {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Logo */
#fudulogo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* Firm Name */
.firmName h4 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Logout Button */
.logout {
    cursor: pointer;
    background-color: #dc3545;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    font-weight: 600;
}

.logout:hover {
    background-color: #b02a37;
}


.sideBarSection {
    width: 100%;
    max-width: 15%;
    height: 95vh;
    padding-top: 10px;
    /* background-color: lightgray; */
    background-color: #5459AC;
    color: white;
}

.sideBarSection ul li {
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

.collectionSection {
    display: flex;
}


/* logisetion */

.loginSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.registerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.authForm label {
    width: 100%;
    max-width: 55%;
    font-weight: 400;
}

.authForm {
    width: 100%;
    max-width: 50%;
    margin-top: -230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
}

.authForm input {
    width: 100%;
    max-width: 55%;
    height: 1.4rem;
    height: 2rem;
    font-size: medium;
}


/* firmSection AddFirm */

.firmSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.tableForm {
    width: 100%;
    max-width: 50%;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.tableForm input {
    width: 100%;
    max-width: 85%;
    height: 35px;
    margin-bottom: 10px;
}

.tableForm label {
    width: 100%;
    max-width: 85%;
    font-weight: 600;
}


/* check box inputs */

.checkInp {
    width: 100%;
    max-width: 85%;
    display: flex;
}

.checkInp label {
    width: 20%;
}

.inputsContainer {
    width: 100%;
    display: flex;
}

.checboxContainer {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checboxContainer label {
    width: 100%;
}

.checboxContainer input {
    margin-left: -180px;
}

.checboxContainer label {
    font-size: small;
}

.regBoxContainer label {
    font-size: small;
}


/* products table */

.productSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-table {
    width: 80vw;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid rgb(128, 128, 128);
    padding: 8px;
}

.product-table th {
    text-align: left;
    background-color: rgb(47, 77, 212);
    color: white;
}

.deleteBtn {
    color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* not found */

.errorSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorSection h1 {
    font-size: 4rem;
}

h3 {
    color: #D7263D;
}


/* btn Submit */

.btnSubmit button {
    background-color: rgb(43, 43, 180);
    width: 6rem;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}


/* landing image  */

.welcomeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.welcomeSection h2 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: -80px;
    color: #2073c0;
}

.showPassword {
    width: fit-content;
    position: absolute;
    bottom: 90px;
    right: 135px;
    cursor: pointer;
}

.loaderSection {
    z-index: 10000;
}



@keyframes tableFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.product-table {
    animation: tableFadeIn 0.4s ease-in-out;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

/* Table Header */
.product-table th {
    background-color: #2E4DD4;
    color: white;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

/* Even row zebra effect */
.product-table tr:nth-child(even) td {
    background-color: #f8f9ff;
}

/* Hover effect */
.product-table tr:hover td {
    background-color: #e9edff;
    transition: 0.2s ease-in-out;
}

/* Delete Button Modern Look */
.deleteBtn {
    background-color: transparent;
    border: 1px solid #d9534f;
    color: #d9534f;
    transition: 0.2s ease;
}

.deleteBtn:hover {
    background-color: rgba(217, 83, 79, 0.15);
    transform: scale(1.05);
}

.userAuth span {
    cursor: pointer;
    transition: 0.2s ease;
}

.userAuth span:hover {
    opacity: 0.7;
}

